<h1>Web Technology Detector</h1>
<%= form_tag '/detector/out' do %> 
    <div><%= label_tag 'URL' %></div>
    <div><%= text_field_tag 'url'%></div>
    <div><%= label_tag 'Technology' %></div>
    <div><%= text_field_tag 'technology'%></div>
    <div><%= submit_tag 'Detect' %></div>
<% end %>
